.scroller {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  
  .scroller section {
    scroll-snap-align: start;
  }

  object {
    color: #E4E6F2;
  }